{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CapybaraMusic</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body class="active">
    <!-- <img src="{% static 'images/capybara.png' %}" alt="CapyMusic" style="width:300px;height:300px;"> -->
    <div class="hero">
    <h1>Capybara Music<span>Welcome to CapybaraMusic, a website developed by Arthur Bichikovskiy</span>
        </h1>
    </div>
<tr>
    <td><a href="/">Home</a></td>
    <td><a href="/news/">News</a></td>
    <td><a href="/albums/">Albums</a></td>
    <td><a href="/authors/">Authors</a></td>
    <td><a href="/playlist/">Playlist</a></td>
    <td><a href="/about/">About</a></td>
</tr>
</body>
</html>