body {
  background-color: white;
}

h1 {
  color: black;
  text-align: center;
}

p {
  color: black;
  text-align: left;
  font-family: verdana;
  font-size: 20px;
}

ul {
  color: black;
  text-align: left;
  font-family: verdana;
  font-size: 20px;
}
